<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DataAccessLayer.Properties.Settings.LeetRaidsConnectionString" connectionString="Data Source=SIN-OMEGA\SQLEXPRESS;Initial Catalog=LeetRaids;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="DataAccessLayer.Properties.Settings.LeetRaidsConnectionString" connectionString="Data Source=72.18.156.74, 1533;Initial Catalog=LFMore;User ID=sindrome;Password=d02040461" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ERROR_XML_LOCATION" value="C:\Users\S\Documents\Visual Studio 2008\Projects\LeetRaids\DataAccessLayer\Static\Errors.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>